.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15rem;
  background-image: url("../../assets/img/bgc_header_new.png");
  /* object-fit: contain; */
  margin-bottom: 7rem;
}

.header-navbar {
  display: flex;
  align-items: center;
}

.identify {
  margin-left: 15rem;
  margin-right: 9rem;
  margin-top: 10.5rem;
  height: 3rem;
  width: 20rem;
  color: #fff;
  margin-bottom: 1.8rem;
  background-color: #ed1d24;
  font-size: 1.6rem;
  font-family: "Roboto";
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px #fff;
  cursor: pointer;
}

.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-nav button {
  height: 3rem;
  width: 15rem;
  color: #fff;
  margin-bottom: 1.8rem;
  background-color: #ed1d24;
  font-size: 1.6rem;
  font-family: "Roboto";
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px #fff;
  cursor: pointer;
}

.btn-char {
  margin-top: 1.5rem;
}

.logo-img {
  height: 10rem;
  margin-left: 11rem;
}
